.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 34px;
  width: 100%;
  max-width: 600px;
  gap: 40px;
  align-items: center;
  font-size: 1rem;
}

.li_element {
  display: flex;
  border-radius: var(--border-radius);
  padding: 0 10px;
  max-height: 34px;
  height: 100%;
  transition: all 0.3s ease;
  margin-right: 0;
  color: #000b29;

  &.active {
    background: rgb(0, 141, 206);
    color: white;

    &:hover {
      background: rgb(0, 141, 206);
    }
  }

  &:not(.active):hover {
    background: var(--color-hover);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1160px) {
  .menu {
    gap: 15px;
    font-size: 0.85rem;
  }
}

@media (max-width: 920px) {
  .menu {
    display: none;
  }
}
