.container {
  display: flex;
  padding: var(--padding-content);
  padding-top: 0;
  // justify-content: space-between;
  gap: 40px;
}

.card-sector {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
