.input-box {
  justify-content: center;
  position: relative;
  width: 270px;
  min-width: 100px;
  height: 18px;
  // background: #000;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  border: 1px solid #d0dbe6;
  transition: border-color 0.3s ease;
  align-items: center;
  gap: 8px;

  &.isInvalid {
    border: 2px solid #ff0000;
  }
}

.input {
  width: 100%;
  height: 100%;
  outline: none;
  color: #1f2937;
  line-height: 24px;
  font-size: 14px;
  background: transparent;
  box-sizing: border-box;
  border: none;
}

.icon {
  color: #868686;
}

.label {
  color: #ff0000;
  margin: 5px 0;
  padding: 0;
  font-size: 14px;
}
