:root {
  --border-radius: 6px;
  --color-hover: #f1f1f1;
  --padding-content: 40px;
}

.container {
  display: flex;
  height: 40px;

  // box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  padding: var(--padding-content);
  align-items: center;
  justify-content: space-between;
}

.group-left {
  display: flex;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  height: 36px;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.right-sector {
  display: flex;
  gap: 16px;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease;
  width: 34px;
  height: 34px;

  .logout-icon {
    color: #000b29;
  }

  &:hover {
    border: 1px solid #bebebe;
    // box-shadow: 0px 0px 3px 0px rgba(0, 80, 49, 0.658);
  }
}
.support-number-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000b29;
  padding: 0 10px;
  border-radius: var(--border-radius);
  gap: 4px;
  font-weight: 600;
  cursor: pointer;
  height: 34px;
}

.icon-call {
  color: white;
}

@media (max-width: 1160px) {
  .logo img {
    height: 90%;
  }

  .right-sector {
    gap: 10px;
  }
}

@media (max-width: 920px) {
  .logo img {
    height: 80%;
  }

  .right-sector {
    gap: 10px;
  }
}
