:root {
  --font-size-L: 1.2rem;
  --font-size-M: 1rem;
}

.block {
  display: flex;
  border-radius: 24px;
  color: inherit;
  width: 500px;
}

.container {
  display: flex;
  color: white;
  max-width: inherit;
  flex-direction: column;
  padding: var(--padding-card);
  background: #11192c;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  gap: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .speed-sector {
    // background: rgb(0, 189, 63);
    background: rgb(0, 141, 206);
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: var(--border-radius);
  }

  .line {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .line-action {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 15px;
  }

  .group-left {
    text-align: left;
  }

  .group-right {
    text-align: right;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .number {
      font-size: var(--font-size-L);
    }
    .plan {
      font-size: var(--font-size-L);
      color: rgb(255, 153, 0);
    }
    .date {
      font-size: var(--font-size-L);
    }

    .address {
      color: #5a5f6d;
      line-height: 1.5rem;
    }

    .description {
      // color: #5b5a6e;

      color: #5a5f6d;
    }

    .symbol {
      font-size: 3.5rem;
    }

    .balance {
      font-weight: 600;
    }
  }
}

@media (max-width: 1160px) {
  .block {
    max-width: 400px;
  }

  .container {
    padding: 20px 20px;
  }

  .container .group .symbol {
    font-size: 2.5rem;
  }

  .container .line {
    margin-top: 10px;
  }

  .container .speed-sector {
    font-size: 1rem;
  }

  .container .group .plan {
    font-size: var(--font-size-M);
  }
  .container .group .description {
    font-size: 0.9rem;
  }

  .container .group .address {
    font-size: 0.9rem;
  }

  .container .group .number {
    font-size: var(--font-size-M);
  }
  .container .group .date {
    font-size: var(--font-size-M);
  }

  .container .line-action {
    margin-top: 10px;
    gap: 10px;
  }
}

@media (max-width: 920px) {
  .block {
    max-width: 100%;
  }
}
