.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 500px;
  color: white;
  background: #251f41;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  gap: 40px;

  .header {
    display: flex;

    width: 100%;
  }

  .line {
    display: flex;
    justify-content: space-between;
  }

  .line-action {
    display: flex;
    justify-content: space-between;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .number {
      font-size: 2rem;
    }
    .date {
      font-size: 2rem;
      text-align: right;
    }

    .description {
      color: #5b5a6e;
    }

    .symbol {
      font-size: 3.5rem;
    }

    .balance {
      font-weight: 600;
    }
  }
}
