// html,
// body {
//   width: 1280px;
// }

:root {
  --bg: #f7f7f7;
  --text: #000;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  max-width: 100%;
  padding: 24px;
  min-width: 0;
  box-sizing: border-box;
  justify-content: center;
  height: 100dvh;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1180px;
  background: #ffffff;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.footer {
  border-top: #ececec 1px solid;
  display: flex;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 1160px) {
  .page {
    max-width: 900px;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 920px) {
  .page {
    max-width: 550px;
    margin: 0 auto;
  }

  .container {
    width: 100%;
    max-width: 100%;
  }

  .footer {
    display: none;
  }
}
