// html,
// body {
//   width: 1280px;
// }

:root {
  --bg: #f7f7f7;
  --text: #000;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-family: "Roboto", sans-serif;
}

.page {
  display: block;
  justify-content: center;
  max-width: 100%;
  height: 100dvh;
  padding: 24px;
  min-width: 0;
  box-sizing: border-box;
}

.container {
  background: #ffffff;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  .page {
    width: 900px;
  }
}

@media (max-width: 920px) {
  .page {
    width: 760px;
  }
}
