.login-page {
  display: flex;
  width: 1000px;
  background: #ffffff;
  height: 75%;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.left-sector {
  width: 50%;
  height: 100%;
}

.right-sector {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 30px;
  box-sizing: border-box;
}

.left-sector-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 30px;

  text-align: center;

  h2 {
    line-height: normal;
    margin-bottom: 0;
  }
}

.title {
  display: flex;
  // flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
  gap: 10px;
}

.button-login {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: none;

  line-height: 20px;
  // background: #c5003b;
  background: #006cc5;
  color: white;

  &:hover {
    background: #00569c;
  }
}
